
bin/
obj/
out/
*.log
*.cache
*.pdb
.vs/


.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates


packages/
node_modules/
wwwroot/lib/
dist/
npm-debug.log*
yarn-error.log


*.config
*.env
*.settings


.publish/
wwwroot/
app.publish/


/.github/workflows/*.log
/.github/workflows/*.cache
